<!DOCTYPE html>
<html>
<head>
    <title>FoxChatter Newsfeed</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
    <script defer src="/js/feed.js"></script>
    <script src="../server/controllers/feedController.js"></script>
    <script src="../server/models/feedItem.js"></script>
    <script src="../server/routes/feedItemRoutes.js"></script>
</head>
<body>
    <header>
        <!-- Site Name -->
        <div class="sitename-container">
            <span class="sitename">FoxChatter</span>
        </div>

        <!-- MyMarist Portal -->
        <div id="portal_button">
            <img src="images/redfox.png" width="50" height="50" alt="Red Fox">
            <div class="marquee-container">
                <div class="marquee">MyMarist</div>
            </div>
        </div>
    </header>
    <main>
        <div id="newsfeed">
            Feed will go here
        </div>
    </main>
    <footer> 
    <strong>
        <p id="site_info">Copyright &copy; 2020: Marist College est. 1929</p>
    </strong>
    </footer>
</body>
</html>
