<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A MyMarist Website</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <header>
        <h1 id="splash_title"><strong>A MyMarist Website</strong></h1>
        <p class="menu_button background_button" id="fade_text">Press SPACE BAR to get started</p>
        <h2>by Chrystiella Mensah</h2>
    </header>

    <footer>
        <script src="/js/global.js"></script>
        <script src="/js/index.js"></script>
        <script src="../server/controllers/feedController.js"></script>
        <script src="../server/models/feedItem.js"></script>
        <script src="../server/routes/feedItemRoutes.js"></script>


    </footer>
</body>
</html>
